<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="Tolu"/>
    <add key="Password" value="Abisogun"/>
    <add key="Website" value="https://mega.nz/#F!jUxxXaTS!biTK3qBFbUQSuS9xpYxXxA!PIRGmQ4B"/>
  </appSettings>
</configuration>