<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="Browser"  value="Chrome"/>
     <add key="Username" value="Toluwaloju11"/>
     <add key="Password" value="Pass"/>
     <add key="Website"  value="https://www.opencart.com/"/>
     <add key="Groceries"  value="https://groceries.asda.com/"/>
    
</appSettings>
</configuration>